.App {
  text-align: center;
}

h1 {
  /* //color: white; */
  /* font-style: italic; */
}

body {
  background-image: url("./images/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
