@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Titillium+Web&display=swap");

.App {
  text-align: center;
}

h1,
h3 {
  color: purple;
  
  font-family: "Playfair Display";
}

/* body {
  background-image: url("./images/moneyBgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
